.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#d6ffff; 
  /*#F2FFEF;*/
  
}

.Home{
  background-color:#d6ffff; 
}
.form input{
  width: 300px;
  height: 20px;
  margin: 5px;
}
.home-nav{
  align-items: flex-start;
  display: flex;
  background-color: #6B8080;
  height: auto;
  justify-content: space-between;
  position: relative;
  padding: 0.5rem 1rem;

  /*padding-top: 0.5rem;
  flex-flow: row nowrap;
  margin: 0 3.5rem;
*/
  
}
/*.buttonLogin{
  margin-top: 20px;
  position: ;
  width: 100px;
  left: 1080px;
  top: 10px;
}*/

.buttonLogin:hover {
  cursor: pointer;
}
header{
  display: flex;
  flex-direction: column;/*width: 100%;*/
  align-items: center;
  padding: 1rem;
  text-align: center;

}
.catequizandos {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.container{
  align-items: baseline;
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-template-areas: 
  "nav nav"
  "left right"
  "footer footer";
  grid-gap: 0.5rem;
  /*/display: flex;
<section className="jumbotron text-center">
<p>&nbsp;</p>
          <p>&nbsp;</p>
  flex-direction: column;*/

}
.nav{
  grid-area: nav;
  padding: 1.5rem;
  background-color: #6B8080;
  text-align: center;

}
footer{
  grid-area: footer;
  text-align: center;
}
  /*
  display: block;
  width: 100%;
  position: absolute;
  */
 /*ul.navi {

       top: 50vh;
    left: 35vw;
    background: none; 
    margin: 0;
    width: 100%;
    display: block;
    position: absolute;
    
}*/
ul.navi li, ul.navBar li {
  border-width: 1px;
  height: 22px;
  padding: 0 18px 0 5px;
  margin: 0;
  display: block;
  float: left;
}
ul.navi li.li1 {
  background: none;
  height: 22px;
  padding: 0 14px 0 5px;
  margin: 0;
  display: block;
  float: left;
}

ul.navi li a {
  font: 14px/21px Arial, Helvetica, sans-serif;
  color: #D7CEBD;
  text-decoration: none;
  text-indent: 0px;
  padding: 0 0 0 33px;
  font-weight: bold;
  margin: 0;
  width: inherit;
  letter-spacing: -1px;
  background-repeat: no-repeat;
  background-image: url('images/button.png');
}

ul.navi li a:hover {
  color: #FF9933;
  text-decoration: none;
  background-repeat: no-repeat;
  background-image: url('images/button_over.png');
}

.mainTitle {
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  padding-left: 1rem;

}
/*img.imagemPincipal {
  padding-left: 16vw;
  weight: auto;
}
div.Home{
 background-color: #d6ffff  ;
 margin: auto;
 min-height: max-content;
 padding-bottom: 2%;
 max-width: 1100px;
 height: fit-content;
}
/*
button.login {
  position: absolute;
    width: 100px;
    height: 40px;
    left: 1080px;
    top: 10px;
    background-color:rgba(40, 90, 40, 0.800);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    border-radius: 15px;
} */
content *{
  background-color: #F0FFFF;
  padding: 1rem;
  text-align: center;
  
}
#left_ {
  grid-area: left;
  /* 
  float: left;
  left: 0px;
  top: 364px;
  padding-left: 16vw;
  padding-top: 2vh;
  width: 266px;*/
}
h2{
  font: 30px/24px "Calisto MT";
  color: #5a3c00;
  font-weight: normal;
  /*
  display: block;
  letter-spacing: -1px;
  word-spacing: 0em;
  text-indent: 0px;
  
  margin-right: 0;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-left: 55px;*/
}

#left_ p {
  color: #3f1e1e;
  font: 13px/20px "Trebuchet MS";
  /*
  padding: 0 0 0 55px;
  width: 190px;
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  letter-spacing: 0px;*/
}

#left_ p span {
  color: #E1BF9D;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -1px;
}

#left_ p span.bg {
  color: #799fbb;
}

#left_ p a {
  font: 13px/12px "trebuchet MS";
  font-weight: normal;
  color: #FFD62F;
  text-decoration: underline;
  /*
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;*/
}

#left_ p a:hover {
  background: no-repeat;
  color: #FF6600;
  font-weight: normal;
}*/
#right_ {
  grid-area: right;
  /*padding: 1rem;
  height: 4rem;
  float: right;
  left: 500px;
  top: 300px;
  
  margin-top: 2vh;
  margin-left: 0vw;
  
  width: 554px;
  */
}

 /*#right_ h2 {
  font: 30px/24px "Calisto MT";
  color: #5a3c00;
  font-weight: normal;
 
  display: block;
  letter-spacing: -1px;
  word-spacing: 0em;
  text-indent: 0px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-left: 20px;}
*/

#right_ p {
  
  font: 13px/20px "Trebuchet MS";
  color: #3f1e1e;
  /*padding: 0 0 0 20px;
  width: 490px;
  display: block;
  background: no-repeat;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  letter-spacing: 0px;*/
}

#right_ p span {
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -1px;
}

#right_ p span.bg {
  color: #799fbb;
}

#right_ p a {
  font: 13px/12px "trebuchet MS";
  font-weight: normal;
  color: #413712;
  text-decoration: underline;
  /*
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;*/
}

#right_ p a:hover {
  background: no-repeat;
  color: #FF6600;
  font-weight: normal;
}
img.mainLogo {
  display: absolute;
  border-radius: 50px;
  vertical-align: top;
  float: left;
  /*http://www.diocesepresidenteprudente.com.br/wp-content/uploads/2019/07/paroquia-nossa-senhora-regente-feijo-1-regiao-01.jpg*/
}
.requisitos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
  position: absolute;
  width: 47px;
  height: 20px;
  left: calc(50% - 47px/2 - 171.5px);
  top: calc(50% - 20px/2 - 21px)
}
/*
#box {
  margin: -120px;
}

button {
  background-color: rgba(40, 90, 40, 0.800);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  border-radius: 15px;
}*/
