.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F2FFEF;

}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.form input{
  width: 300px;
  height: 20px;
  margin: 5px;
}

button{
  margin-top: 20px;
  width: 320px;


}

button:hover {
  cursor: pointer;
}

.catequizandos {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
