.padrinhos {
    min-height: 100vh;
    position: relative;
    background-color: #d6ffff;
    font-family: 'Montserrat', sans-serif;
}


.modalPadrinhos {
    display: flex;
    background-color: #96A5B3;
    width: 50vw;
    height: 70vh;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: animate;
    animation-duration: 800ms;
    box-shadow: 0 0 3px;
    border-radius: 5px;
    font-size: 0.9em;

}

@keyframes animate {
    from {
        opacity: 1;
    }

    from {
        opacity: 0;
    }
}

.nomePadrinho,
.nomeMadrinha {
    width: 45vw;
    padding: 2px;

    /*text-align: center;
     display: flex;

    align-items: baseline;
    padding: 0 10px;
    
    */
}

#buttonCadastrarPadrinhos {
    margin: 0 auto;
    display: inherit;
}

.InstrucoesPadrinhos {
    font-size: 2.5ch;
    font-weight: bold;
}

.mb-3 {
    text-align: start;
}

.cadPadrinhoPt1,
.cadPadrinhoPt2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}

.cadPadrinhoPt3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px;
}