.cadastrar{
    min-height: 100vh;
    position: relative;
    background-color: bisque;
    font-family: 'Montserrat', sans-serif;
}

.form{
    background-color: white;
    display: block;
    /*width: 100%;
    /*box-shadow: 5px 5px 5px rgba(0,0,0,0,0.2);
    display: flex;
   /* flex-direction: column;width: 100%;*/
    justify-content: center; 
    align-items: center;
  }

.custom-control{
    position: relative;
    display: block;
    padding-left: 1.5rem;
    box-sizing: border-box;
}

  