/*
login e signup
}*/

.container {
    width: 100vw;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #d6ffff;
}

.wrap-login {
    width: 360px;
    height: 540px;
    background-color: #ABCCCC;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px 40px 60px 40px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.login-form {
    width: 100%;
}

.login-form-title {
    font-family: 'Brush Script MT', cursive;
    display: block;
    font-size: 24px;
    color: #0828f8;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #d6ffff;
}

.wrap-login {
    width: 380px;
    height: 540px;
    background-color: #ABCCCC;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 40px 20px 40px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.login-form {
    width: 100%;
}

.login-form-title {
    font-family: 'Brush Script MT', cursive;
    display: block;
    font-size: 24px;
    color: #0828f8;
    line-height: 1.2;
    text-align: center;
}

.login-form-title img {
    width: 90px;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #fdfcb4;
    margin-bottom: 37px;
}

.input {
    font-size: 20px;
    color: #0828f8;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding: 0 5px;
    font-family: 'Brush Script MT', cursive;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #fdfcb4;
    font-family: 'Brush Script MT', cursive;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #6a7dfe;
    background: -webkit-linear-gradient(to left, #21d4fd, #2521ff);
    background: -o-linear-gradient(to left, #21e3fd, #2521ff);
    background: -moz-linear-gradient(to left, #21d4fd, #2521ff);
    background: linear-gradient(to left, #21d4fd, #2521ff);
}

.focus-input::after {
    font-family: 'Brush Script MT', cursive;
    font-size: 15px;
    color: #fdfcb4;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input:focus {
    outline: 0;
}

.input:focus+.focus-input::after {
    top: -15px;
}

.input:focus+.focus-input::before {
    width: 100%;
}

.has-val+.focus-input::after {
    top: -15px;
}

.has-val+.focus-input::before {
    width: 100%;
}

.container-login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}

.login-form-btn {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #6a7dfe;
    background: -webkit-linear-gradient(to left, #21d4fd, #2521ff);
    background: -o-linear-gradient(to left, #21d4fd, #2521ff);
    background: -moz-linear-gradient(to left, #21d4fd, #2521ff);
    background: linear-gradient(to left, #21d4fd, #2521ff);
}

.login-form-btn:hover {
    cursor: pointer;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.txt1 {
    font-size: 16px;
    color: #fdfcb4;
    line-height: 1.5;
    padding-right: 5px;
}

.txt2 {
    font-size: 20px;
    color: #0d2dfd;
    line-height: 1.5;
    text-decoration: none;
}

.login-form-title img {
    width: 90px;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #fdfcb4;
    margin-bottom: 40px;
}

.input {
    font-size: 20px;
    color: #0828f8;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
    font-family: 'Brush Script MT', cursive;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    pointer-events: none;
    color: #fdfcb4;
    font-family: 'Brush Script MT', cursive;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #6a7dfe;
    background: -webkit-linear-gradient(to left, #21d4fd, #2521ff);
    background: -o-linear-gradient(to left, #21e3fd, #2521ff);
    background: -moz-linear-gradient(to left, #21d4fd, #2521ff);
    background: linear-gradient(to left, #21d4fd, #2521ff);
}

.focus-input::after {
    font-family: 'Brush Script MT', cursive;
    font-size: 15px;
    color: #fdfcb4;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input:focus {
    outline: 0;
}

.input:focus+.focus-input::after {
    top: -5px;
}

.input:focus+.focus-input::before {
    width: 100%;
}

.has-val+.focus-input::after {
    top: -15px;
}

.has-val+.focus-input::before {
    width: 100%;
}

.container-login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}

.login-form-btn {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #6a7dfe;
    background: -webkit-linear-gradient(to left, #21d4fd, #2521ff);
    background: -o-linear-gradient(to left, #21d4fd, #2521ff);
    background: -moz-linear-gradient(to left, #21d4fd, #2521ff);
    background: linear-gradient(to left, #21d4fd, #2521ff);
}

.login-form-btn:hover {
    cursor: pointer;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.txt1 {
    font-size: 16px;
    color: #fdfcb4;
    line-height: 1.5;
    padding-right: 5px;
}

.txt2 {
    font-size: 20px;
    color: #0d2dfd;
    line-height: 1.5;
    text-decoration: none;
}