.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: baseline;
    background-color: darkgray;
    margin: 10px 0px;
}

.navbar ul li {
    padding: 1em 2em;
    background-color: aliceblue;
    color: black;
}

.navbar ul li:hover {
    background-color: grey;
}

.navbar ul li:hover a {
    color: aliceblue;
}

.navbar ul li a {
    color: grey;
    font-weight: bold;
}